<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Exclusão de cardápio</h4>
        </div>
        <div class="modal-body">
            <p>Deseja realmente excluir o cardápio?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="c('noDelete')">Não</button>
            <button type="button" class="btn btn-light" (click)="c('delete')">Sim</button>
        </div>
</ng-template>

<div class="content">
    <div class="row">
        <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
        <div class="col-xl-12">
            <h2>
                Cardápio nº {{menu.id}}
            </h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                  Dados do cardápio
                </div>
                <div class="card-body">
                  <h5 class="card-title"><strong>Descrição: </strong>{{ menu.description }}</h5>
                  <p class="card-text"><strong>Observação: </strong>{{ menu.observation }}</p>
                  <p class="card-text"><strong>Data do cardápio: </strong>{{ menu.date | date: 'dd/MM/yyyy' }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                  Ingredientes
                </div>
                <div class="card-body">
                    <table *ngIf="menu.ingredients.length > 0" class="card-body table">
                        <thead>
                           <tr>
                              <th>Ingrediente</th>
                              <th>Grupo</th>
                           </tr>
                        </thead>
                        <tbody *ngFor="let ingredient of menu.ingredients | paginate: { itemsPerPage: 7, currentPage: page }">
                           <tr class="table-default">
                              <th>{{ingredient.name}}</th>
                              <td>{{ingredient.ingredient_group.name}}</td>
                           </tr>
                        </tbody>
                     </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                  Tamanhos
                </div>
                <div class="card-body">
                    <table *ngIf="menu.prices.length > 0" class="card-body table">
                        <thead>
                           <tr>
                              <th>Tamanho</th>
                              <th>Valor</th>
                           </tr>
                        </thead>
                        <tbody *ngFor="let price of menu.prices | paginate: { itemsPerPage: 7, currentPage: page }">
                           <tr class="table-default">
                              <th>{{price.size}}</th>
                              <td>{{price.price | currency: 'BRL': true}}</td>
                           </tr>
                        </tbody>
                     </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 text-right">
            <button type="button" class="btn btn-lg btn-danger" (click)="delete(content)">Deletar</button>
            <button type="button" class="btn btn-lg btn-success" (click)="edit()">Editar</button>
        </div>
    </div>
</div>
