    <div [@routerTransition]>
        <div class="row">
           <div class="col-lg-12">
              <div class="card mb-3">
                 <div class="card-header"><i class="fa fa-clock-o fa-fw"></i> Pedidos pendentes</div>
                 <table class="card-body table">
                    <thead>
                       <tr>
                          <th>Cliente</th>
                          <th>Endereço</th>
                          <th>Bairro</th>
                          <th>Preço</th>
                          <th>Ações</th>
                       </tr>
                    </thead>
                    <tbody *ngFor="let order of orders">
                       <tr *ngIf="order.deliver" class="table-warning">
                          <th>{{order.client.name}}</th>
                          <td *ngIf="order.deliver">{{order.location.address}} - {{order.location.number}}</td>
                          <td *ngIf="order.deliver">{{order.location.district}}</td>
                          <td>{{order.price | currency: 'BRL': true}}</td>
                          <td>
                             <button (click)="showOrder(order)" type="button" class="btn btn-sm btn-success">Confirmar</button>
                             <button type="button" class="btn btn-sm btn-danger">Rejeitar</button>
                          </td>
                       </tr>
                       <tr *ngIf="!order.deliver" class="table-default">
                          <th>{{order.client.name}}</th>
                          <td *ngIf="!order.deliver">Retirar no balcão</td>
                          <td *ngIf="!order.deliver">Retirar no balcão</td>
                          <td>{{order.price | currency: 'BRL': true}}</td>
                          <td>
                             <button (click)="showOrder(order)" type="button" class="btn btn-sm btn-success">Confirmar</button>
                             <button type="button" class="btn btn-sm btn-danger">Rejeitar</button>
                          </td>
                       </tr>
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
    </div>
