<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-cart-plus"></i>
            <span>{{ 'Pedidos pendentes' }}</span>
        </a>
        <a routerLink="/closed-orders" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa fa-shopping-cart"></i>
            <span>{{ 'Pedidos encerrados' }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('menu')">
                <span><i class="fa fa-cutlery"></i>Cardápios</span>
                <i *ngIf="!expanded_menu" class="fa fa-caret-square-o-right" style="margin-left: 20px"></i>
                <i *ngIf="expanded_menu" class="fa fa-caret-square-o-down" style="margin-left: 20px"></i>
            </a>
            <li class="nested" [class.expand]="showMenu === 'menu'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/menus-form" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Novo cardápio' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/menus-list" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Cardápios cadastrados' }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('cruds')">
                <span><i class="fa fa-pencil-square"></i>Cadastros gerais</span>
                <i *ngIf="!expanded_crud" class="fa fa-caret-square-o-right" style="margin-left: 20px"></i>
                <i *ngIf="expanded_crud" class="fa fa-caret-square-o-down" style="margin-left: 20px"></i>
            </a>
            <li class="nested" [class.expand]="showMenu === 'cruds'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/ingredient-group" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Grupos de ingredientes' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/ingredients" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Ingredientes' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/additionals" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Adicionais e bebidas' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/sizes" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Tamanhos' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/form-payments" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Formas de pagamento' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/freights" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Fretes' }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div *ngIf="user.type=='admin'" class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('restaurant')">
                    <span><i class="fa fa-users"></i>Restaurantes</span>
                    <i *ngIf="!expanded_restaurant" class="fa fa-caret-square-o-right" style="margin-left: 20px"></i>
                    <i *ngIf="expanded_restaurant" class="fa fa-caret-square-o-down" style="margin-left: 20px"></i>
                </a>
                <li class="nested" [class.expand]="showMenu === 'restaurant'">
                    <ul class="submenu">
                        <li>
                            <a routerLink="/restaurants-form" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <span>{{ 'Novo restaurante' }}</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/tags" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <span>{{ 'Tags' }}</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/restaurants-list" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <span>{{ 'Restaurantes' }}</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/notifications" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <span>{{ 'Enviar notificação' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div *ngIf="user.type=='admin'" class="nested-menu">
                    <a class="list-group-item" (click)="addExpandClass('utils')">
                        <span><i class="fa fa-cogs"></i>Utilitários</span>
                        <i *ngIf="!expanded_utils" class="fa fa-caret-square-o-right" style="margin-left: 20px"></i>
                        <i *ngIf="expanded_utils" class="fa fa-caret-square-o-down" style="margin-left: 20px"></i>
                    </a>
                    <li class="nested" [class.expand]="showMenu === 'utils'">
                        <ul class="submenu">
                            <li>
                                <a routerLink="/cities" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <span>{{ 'Cidades' }}</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/districts" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <span>{{ 'Bairros' }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
    </div>
</nav>
